<% title @curriculum.title %>

<fieldset class="additional_info">
  <div>
    <span class="duration">Срок обучения <%= @curriculum.duration %></span>
    <% if @curriculum.attachment %>
      <%= link_to image_tag("icon_pdf_#{@curriculum.access}.png"),
                  @curriculum.attachment.data.url,
                  :title => @curriculum.human_access, :rel => "tipsy" %>
      <%= link_to "Учебный план #{@curriculum.year}", @curriculum.attachment.data.url,
                  :class => "#{@curriculum.access}_pdf download" %>

      <% end %>
  </div>
</fieldset>

<h2>Семестры</h2>

<div class="curriculum_semesters">
  <table class="semesters_header">
    <tr>
      <% (1..@curriculum.cources_count).each do |cource| %>
        <th colspan="2"><%= "#{cource} курс" %></th>
      <% end %>
    </tr>
    <tr>
      <% @curriculum.semesters.each do |semester| %>
        <td<%= semester.eql?(@semester) ? " class='current'" : ""%>>
          <%= link_to semester.number,
                      chair_speciality_curriculum_semester_path(@chair, @speciality, @curriculum, semester) %>
        </td>
      <% end %>
      <%= content_tag :td, "" unless @curriculum.semesters_count.even? %>
    </tr>
  </table>
  <div class="semester_body">
    <% unless @semester.educations.empty? %>
      <% @semester.educations.each do |education| %>
        <div class="discipline <%= cycle('odd', 'even') %>">
          <div class="discipline_name">
            <%= link_to education.discipline.name, '#' %>
            <% unless education.examinations.empty? %>
              (<%= education.examinations.collect(&:name).join(", ").mb_chars.downcase %>)
            <% end %>
          </div>
         </div>
      <% end %>
    <% else %>
      <p>Дисциплины не заполнены</p>
    <% end %>

  </div>
</div>

