<%= semantic_form_for :curriculums, :html => { :method => :get, :class => "curriculum_search" } do | form | %>
  <%= form.inputs do %>
    <%= form.input :query, :required => false, :label => false, :input_html => { :name => 'query', :value => params[:query] } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button "Найти", :button_html => { :class => "button light" } %>
  <% end %>
<% end %>

<div class="curriculums_wrapper">
  <div class="curriculum_facets">
    <%= render_navigation :context => 'curriculum_study' %>
  </div>

  <% if collection.any? %>
    <div class="curriculums_list">
      <% @curriculums.each do |curriculum| %>
        <p><%= link_to curriculum.title, curriculum_path(curriculum) %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="chair_facets">
  <%= render_navigation :context => 'chairs' %>
</div>

<%= will_paginate @curriculums %>

