<div class="abstract">

  <h3><%= link_to 'Вывести все', records_path %></h3>

<%= form_tag records_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>

<div class="abstract_year">
  <h3>Года</h3>
  <ul>
    <% for row in @search.facet(:year).rows %>
      <li>
        <% if params[:year].blank? %>
          <%= link_to row.value, :year => row.value %>
        <% else %>
          <%= link_to row.value, :year => row.value %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul>
   <% if params[:year].blank? %>
   <% else %>
     <h3>Месяц</h3>
   <% end %>
   <% for row in @search.facet(:month).rows %>
      <li>
        <% if params[:month].blank? %>
          <% if params[:year].blank? %>
          <% else %>
            <div class="subject_link"><%= link_to row.value, :month => row.value %>
              (<%=row.count %>) &nbsp;</div>
          <% end %>
        <% else %>

        <h3>Месяц</h3>
          <strong><%= row.value %></strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>





<div class="main_subject">
  <h3>Основная тематика</h3>
  <ul>
    <% for row in @search.facet(:main_subject).rows %>
      <li>
      <% if params[:main_subject].blank? %>
      <%=  params[:main_subject].methods.sort  %>
        <%= link_to row.value, :main_subject => row.value %>
      <% else %>
        <% if row.value.empty? %>
           <strong><%= row.value %></strong>
        <% else %>
           <%= link_to row.value, :main_subject => row.value %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="subject">
  <ul>
   <% if params[:main_subject].blank? %>
   <% else %>
     <h3>Тематика</h3>
   <% end %>
   <% for row in @search.facet(:subject).rows %>
      <li>
        <% if params[:subject].blank? %>
          <% if params[:main_subject].blank? %>
          <% else %>
            <div class="subject_link"><%= link_to row.value, :subject => row.value %>
              (<%=row.count %>) &nbsp;</div>
          <% end %>
        <% else %>
        <h3>Тематика</h3>
          <strong><%= row.value %></strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<p><%= will_paginate @records %></p>



<div class="human_wrapper">
  <ul class="cool_list">


<% @records.each do | record | %>
<li>
    <div class="short_title"><%= link_to record.short_title, record_path(record) %></div>
    <div class="tipe"><%= record.tipe %></div>
    <div class="author"><%= record.authors %></div>
</li>
<% end %>


  </ul>
</div>
<p><%= will_paginate @records %></p>

</div>

