<ul>
<h2><%= "Основная тематика"%></h2>
  <% @main_subjects.each do | main_subject | %> 
    <li>
      <% if @main_subject.eql?(main_subject) %>
        <b><%= main_subject.title %></b>
        
      <% else %>
        <%= link_to main_subject.title, 
                records_path(params.merge(:main_subject => main_subject.id)) %>
      <% end %>
    </li>
  <% end %>
</ul>


<ul>
<h2><%= "Тематика"%></h2>
  <% @main_subjects.each do | main_subject | %> 
    <li>
      <% if @main_subject.eql?(main_subject) %> 
        <ul>
          <% main_subject.subjects.each do |subject| %>
            <li>
              <% if @subject.eql?(subject) %>
                <b><%= subject.title %></b>
              <% else %>
              <%= link_to subject.title, 
                      records_path(params.merge(:subject => subject.id)) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>    
      <% end %>
    </li>
  <% end %>
</ul>


 

<div class="abstract">

<%= form_tag records_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>


<div class="human_wrapper">
  <ul class="cool_list">


<% @records.each do | record | %>
<li>
    <div class="title"><%= link_to record.title, record_path(record) %></div>
    <div class="tipe"><%= record.tipe %></div>
    <div class="author">
    <% if record.authors.blank? %>
      <span><%= "Авторы не указаны" %></span>
    <% else %>
    <%= record.authors %>
    <% end %>
    </div>
</li>
<% end %>


  </ul>
</div>
<p><%= will_paginate @records %></p>

</div>

