<div class="abstract_list">

  <p>В&nbsp;этом разделе находятся реферативные журналы&nbsp;&mdash; периодические издания, содержащие рефераты научных публикаций по&nbsp;<nobr>какой-либо</nobr> отрасли науки или техники и&nbsp;другие вторичные информационные материалы.</p>

  <%= form_tag records_path, :method => :get, :class => "abstract_search_form" do %>
    <p class="inputs">
      <%= text_field_tag :search, params[:search], :class => "search_field" %>
      <%= submit_tag "Поиск", :name => nil , :class => 'button light' %>
      <%= link_to "Очистить", records_path, :class => 'button light' %>
      <%= link_to raw("расширенный поиск &darr;"), "#", :class => "extend_search_toggle" %>
    </p>

    <div class="selected_filters">
      <div class="subjects">
        <h3>Тематики</h3>
        <% if @subjects.any? %>
          <ul>
            <% @subjects.each do |main_subject, subjects| %>
              <li>
                <strong><%= main_subject.title %></strong><%= ": #{subjects.map(&:title).join('. ')}" unless main_subject.all_subjects_checked?(params[:subject]) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <strong>Все</strong>
        <% end %>
      </div>
      <div class="years">
        <h3>Выпуски ВИНИТИ</h3>
        <% if @months.any? %>
          <ul>
           <% @months.to_a.sort{ |a,b| b[0].title <=> a[0].title }.each do |year, months| %>
              <li>
                <strong><%= year.title %></strong><%= ": #{months.map(&:localized_caption).join(', ')}" unless year.all_months_checked?(params[:month]) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <strong>Все</strong>
        <% end %>
      </div>
    </div>

    <div class="extend_search">
      <%= javascript_include_tag "jquery.tree.js" %>
      <div class="subjects">
        <h3>Тематики</h3>
        <ul class="subjects_tree">
          <% @main_subjects.each do |main_subject| %>
            <li>
              <%= label_tag "main_subject_#{main_subject.id}" do %>
                <%= check_box_tag "main_subject_#{main_subject.id}", main_subject.id, main_subject.all_subjects_checked?(params[:subject]) %>
                <%= main_subject.title %>
              <% end %>
              <ul>
                <% main_subject.subjects.each do |subject| %>
                  <li>
                    <%= label_tag "subject_#{subject.id}" do %>
                      <%= check_box_tag "subject[]", subject.id, params[:subject].include?(subject.id.to_s), :id => "subject_#{subject.id}" %>
                      <%= subject.title %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="years">
        <h3>Выпуски ВИНИТИ</h3>
        <ul class="years_tree">
          <% @years.each do |year| %>
            <li>
              <%= label_tag "year_#{year.id}" do %>
                <%= check_box_tag "year_#{year.id}", year.id, year.all_months_checked?(params[:month]) %>
                <%= year.title %>
              <% end %>
              <ul>
                <% year.months.each do |month| %>
                  <li>
                    <%= label_tag "month_#{month.id}" do %>
                      <%= check_box_tag "month[]", month.id, params[:month].include?(month.id.to_s), :id => "month_#{month.id}" %>
                      <%= month.localized_caption %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="search_result">
    <ul class="cool_list">
      <% @records.each do | record | %>
        <li>
          <%= show_for record do |obj| %>
            <%= obj.value :title do %>
              <%= link_to raw(record.title), record_path(record) %>
            <% end %>
            <%= obj.attribute :authors, :if_blank => "не указаны" %>
            <%= obj.attribute :summary do %>
              <%= raw(record.summary) %>
            <% end %>
            <%= obj.attribute :tipe %>
            <%= obj.attribute :human_subject %>
            <%= obj.attribute :fascicle %>
            <%= obj.attribute :keywords do %>
              <%= raw(record.keywords) %>
              <%= link_to raw("дополнительно &darr;"), record_path(record), :class => "more" %>
            <% end %>
          <% end %>
          <%= render :partial => "fields", :locals => { :record => record } %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= will_paginate @records %>

</div>
