<div class="abstract_list">

  <p>В&nbsp;этом разделе находятся реферативные журналы&nbsp;&mdash; периодические издания, содержащие рефераты научных публикаций по&nbsp;<nobr>какой-либо</nobr> отрасли науки или техники и&nbsp;другие вторичные информационные материалы.</p>

  <%= form_tag records_path, :method => :get, :class => "abstract_search_form" do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => "search_field" %>
      <%= submit_tag "Поиск", :name => nil , :class => 'button light' %>
      <%= link_to "Очистить", records_path, :class => 'button light' %>
      <%= link_to "расширенный поиск", "#" %>
    </p>
    <ul>    
      <% @main_subjects.each do |main_subject| %>
        <li>
          <%= check_box_tag "main_subject_#{main_subject.id}", main_subject.id, main_subject.all_subjects_checked?(params[:subject]) %>
          <%= label_tag "main_subject_#{main_subject.id}", main_subject.title %>
          <ul>
            <% main_subject.subjects.each do |subject| %>
              <li>
                <%= check_box_tag "subject[]", subject.id, params[:subject].include?(subject.id.to_s), :id => "subject_#{subject.id}" %>
                <%= label_tag "subject_#{subject.id}", subject.title %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="search_result">
    <ul class="cool_list">
      <% @records.each do | record | %>
        <li>
          <%= show_for record do |obj| %>
            <%= obj.value :title do %>
              <%= link_to raw(record.title), record_path(record) %>
            <% end %>
            <%= obj.attribute :authors %>
            <%= obj.attribute :summary do %>
              <%= raw(record.summary) %>
            <% end %>
            <%= obj.attribute :tipe %>
            <%= obj.attribute :keywords do %>
              <%= raw(record.keywords) %>
              <a href="#" class="more">дополнительно &darr;</a>
            <% end %>
          <% end %>
          <%= render :partial => "fields", :locals => { :record => record } %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= will_paginate @records %>

</div>
