<div class="abstract_list">

  <p>В&nbsp;этом разделе находятся реферативные журналы&nbsp;&mdash; периодические издания, содержащие рефераты научных публикаций по&nbsp;<nobr>какой-либо</nobr> отрасли науки или техники и&nbsp;другие вторичные информационные материалы.</p>

  <%= form_tag records_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Поиск", :name => nil , :class => 'button light' %>
      <%= link_to "Сбросить фильтры", records_path, :class => 'button light' %>
    </p>
  <% end %>

  <div class="abstract_year">
    <h2>Год</h2>
    <ul>
      <% @years.each do | year | %>
        <li>
          <% if @year.eql?(year) %>
            <b><%= year.title %></b>
            <ul>
              <% @year.months.each do | month | %>
                <li>
                  <%= link_to month.number, records_path(params.merge(:month => month.id)) %>
                  </li>
              <% end %>
            </ul>
          <% else %>
            <%= link_to year.title, records_path(params.merge(:year => year.id, :month => nil)) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="main_subject">
    <ul>
      <h2>Основная тематика</h2>
      <% @main_subjects.each do | main_subject | %>
        <li>
          <% if @main_subject.eql?(main_subject) %>
            <b><%= main_subject.title %></b>

          <% else %>
            <%= link_to main_subject.title,
              records_path(params.merge(:main_subject => main_subject.id, :subject => nil)) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="subject">
    <ul>
      <% @main_subjects.each do | main_subject | %>
        <li>
          <% if @main_subject.eql?(main_subject) %>
            <h2>Тематика</h2>
            <ul>
              <% main_subject.subjects.each do |subject| %>
                <li>
                  <% if @subject.eql?(subject) %>
                    <b><%= subject.title %></b>
                  <% else %>
                    <%= link_to subject.title,
                      records_path(params.merge(:subject => subject.id)) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="human_wrapper">
    <ul class="cool_list">
      <% @records.each do | record | %>
        <li>
          <div class="title"><%= link_to record.title, record_path(record) %></div>
          <div class="tipe"><%= record.tipe %></div>
          <div class="author">
            <% if record.authors.blank? %>
              <span>Авторы не указаны</span>
            <% else %>
              <%= record.authors %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <%= will_paginate @records %>

</div>
