<% title @record.title %>

<div class="abstract">

<p><strong>Тип:</strong> <%= @record.tipe %></p>
<p><strong>Реферат:</strong> <%= @record.summary %></p>
<p><strong>Ключевые слова:</strong> <%= @record.keywords %></p>

<table>
  <tr>
    <td><%= "Авторы "%></td>
    <td><%= @record.authors %></td>
  </tr>
  <tr>
    <td><%= "Язык основного текста документа "%></td>
    <td><%= @record.language %></td>
  </tr>
  <tr>
    <td><%= "Отражение реферативными службами "%></td>
    <td><%= @record.reflection_abstracts_service %></td>
  </tr>
  <tr>
    <td><%= "Дата издания депонирования "%></td>
    <td><%= @record.publication_date %></td>
  </tr>
  <tr>
    <td><%= "Заглавие издания "%></td>
    <td><%= @record.short_title %></td>
  </tr>
  <tr>
    <td><%= "Вид документа (двухсимвольный) "%></td>
    <td><%= @record.view_document %></td>
  </tr>
  <tr>
    <td><%= "Код рубрики рубрикатора ВИНИТИ "%></td>
    <td><%= @record.code_column_VINITI %></td>
  </tr>
  <tr>
    <td><%= "Место издания (страна) "%></td>
    <td><%= @record.country %></td>
  </tr>
  <tr>
    <td><%= "Объем, пагинация "%></td>
    <td><%= @record.pagination %></td>
  </tr>
  <tr>
    <td><%= "Номер выпуска сериального издания "%></td>
    <td><%= @record.serial_number %></td>
  </tr>
  <tr>
    <td><%= "Имя (шифр) выпуска базы данных ВИНИТИ "%></td>
    <td><%= @record.code_database %></td>
  </tr>
  <tr>
    <td><%= "Коды рубрики рубрикатора ГРНТИ "%></td>
    <td><%= @record.codes_colomn_SRSTI %></td>
  </tr>
  <tr>
    <td><%= "Номер выпуска РЖ и БД "%></td>
    <td><%= @record.number_AJ_DB %></td>
  </tr>
    <tr>
    <td><%= "Имя (шифр) тематического фрагмента БД ВИНИТИ "%></td>
    <td><%= @record.code_thematic %></td>
  </tr>


</table>


</div>

