<% title @chair.name %>

<h2>Специальности и направления подготовки</h2>
<% unless @chair.specialities.empty?  %>
  <table class="specialities">
    <tr>
      <th>Код</th>
      <th>Название</th>
    </tr>
    <% %w(specialist master bachelor).each do |degree| %>
      <% unless @chair.specialities.where(:degree => degree).empty? %>
        <tr>
          <th colspan="4"><%= t("noun_#{degree}") %></th>
        </tr>
        <% @chair.specialities.where(:degree => degree).each do |speciality| %>
          <tr>
            <td><%= speciality.code %></td>
            <td>
              <p><%= link_to speciality.name, manage_chair_speciality_path(speciality.chair, speciality) %></p>
              <p class="qualification"><%= speciality.qualification %></p>
              <p class="licence">Лицензия: <%= speciality.licence %></p>
              <p class="accreditation">Аккредитация: <%= speciality.accreditation %></p>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>
<p><%= link_to "Добавить специальность", new_manage_chair_speciality_path(@chair) %></p>

<p><%= link_to 'Сотрудники', manage_chair_teachers_path(@chair) %></p>

<p><%= link_to 'Рабочие программы', manage_chair_work_programms_path(@chair) %></p>
