<%= semantic_form_for resource, :url => registration_path(resource), :method => :put do |form| %>
  <%= devise_error_messages! %>
  <%= form.inputs do  %>
    <%= form.input :email, :as => :string, :input_html => { :class => "focus_first" } %>
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
    <%= form.input :current_password %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button 'Обновить', :button_html => { :class => :button } %>
    <li><%= link_to t('cancel'), :back, :class => 'button light' %></li>
  <% end %>
<% end %>

