<%= semantic_form_for resource, :url => registration_path(resource) do |form| %>
  <%= devise_error_messages! %>
  <div class="info">
    <h2>Зачем регистрироваться на портале?</h2>
    <p>
      Пройдите простую процедуру регистрации, чтобы получить доступ ко всем
      учебно-методическим материалам, которые вам понадобятся в ходе учебного
      процесса. Незарегистрированные пользователи не смогут увидеть ресурсы,
      доступные только студентам или сотрудникам ТУСУРа.
    </p>
    <p>
      Авторы смогут размещать на портале методические пособия и другие учебные
      материалы. Кроме того, это позволит системе сформировать список публикаций
      конкретного автора.
    </p>
    <p>
      В разделе "Наши люди" находится список зарегистрированных пользователей.
      В нём указаны должность (если это сотрудник), группа (если это студент),
      ссылки на авторские ресурсы и другую информацию.
    </p>
  </div>
  <%= form.inputs do %>
    <%= form.input :email, :as => :string %>
    <%= form.input :password %>
    <%= form.input :password_confirmation, :required => true %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button "Зарегистрироваться", :button_html => { :class => "button" } %>
  <% end %>
<% end %>

<%= render :partial => "shared/links" %>

