<div class='publication'>
  <%= link_to item, publication_path(item) %>

  <p><%= item.annotation %></p>

  <div class="download_block">
    <% if can? :download, item.attachment %>
        <%=  image_tag("icon_pdf_free.png") %>
        <%= link_to "Скачать #{t("publication.#{item.kind}")}", item.attachment.data.url, :title => item, :class => "need_tipsy", :alt => item %>
    <% else %>
      <%= image_tag("icon_pdf_#{item.access}.png")  %>
      <span class="need_tipsy" title="Необходимо зарегистрироваться в качестве студента, магистранта или сотрудника ТУСУР">Вы не можете скачать <%= t("publication.#{item.kind}") %>.</span>
    <% end %>
  </div>
</div>

