<%= render :partial => 'search_form' %>

<div class="publications_wrapper">
  <div class="publication_facets">
    <%= render_navigation :context => 'publication_kind' %>
  </div>

  <% if collection.any? %>
    <div class="publications_list">
      <% @publications.each do |obj| %>
        <%= render :partial => "index_item", :locals => { :item => obj } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="chair_facets">
  <%= render_navigation :context => 'chairs' %>
</div>

<%= will_paginate @publications %>

