<%= resource.full_name %>
<%= link_to t(:edit), edit_resource_path, :class => :edit %>

<% unless resource.user.nil? %>
  <%= resource.user.email %>
  <%= link_to t(:edit), edit_manage_user_path(resource.user) %>
<% end %>

<hr />
<%= link_to "Добавить роль", "#" %>

<ul>
  <li><%= render resource.roles %></li>
</ul>

