<% @humans.each do |human| %>
  <p>
    <%= radio_button_tag "human", human.id, false, :id => "human_#{human.id}" %>
    <%= label_tag "#{human.full_name}", nil, :for => "human_#{human.id}" %>
  </p>
  <p>
    <%= human.user ? "есть учётная запись" : "нет учётной записи" %>
  </p>
  <ul>
  <% human.roles.each do |role| %>
    <li>
      <%= role.title %>
      <%= t "role.#{role.state}" %>
      <%= "на каф. #{role.chair.abbr}" if role.chair %>
    </li>
  <% end %>
  </ul>
<% end %>
<p>
  <%= radio_button_tag 'human', 'new', false, :id => 'human_new' %>
  <%= label_tag 'Новый сотрудник', nil, :for => 'human_new' %>
</p>

