<% if @humans %>
  <% @humans.each do |human| %>
    <div class="human">
      <div class="full_name">
        <%= radio_button_tag "employee[human_id]", human.id, false, :id => "human_#{human.id}" %>
        <%= label_tag "#{human.full_name}", nil, :for => "human_#{human.id}" %>
        <span class="has_user">
          (<%= human.user ? "есть учётная запись" : "нет учётной записи" %>)
        </span>
      </div>
      <ul>
      <% human.roles.each do |role| %>
        <li>
          <%= role.post %>
          <%= "на каф. #{role.chair.abbr}" if role.chair %>
          <span class="<%= role.state %>"><%= role.human_state.mb_chars.downcase %></span>
        </li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="human">
      <div class="full_name">
        <%= radio_button_tag 'employee[human_id]', 0, @humans.empty?, :id => 'human_new' %>
        <%= label_tag 'Новый сотрудник', nil, :for => 'human_new' %>
      </div>
    </div>
<% end %>

