<% title @speciality.title %>

<%= show_for @speciality do |speciality| %>
  <%= speciality.association :chair %>
  <%= speciality.attribute :qualification %>
  <%= speciality.attribute :licence %>
  <%= speciality.attribute :accreditation %>
<% end %>

<h2>Учебные планы</h2>

<% @speciality.curriculums.published.each do |curriculum| %>
  <div class="curriculum_item">
    <div class="name">

      <%= link_to curriculum.study_with_since,
                  chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                  :class => curriculum.state %>
    </div>
    <div class="info">
      <span class="duration">Срок обучения <%= curriculum.duration %></span>
      <% if curriculum.attachment %>
        <%= link_to image_tag("icon_pdf_#{curriculum.access}.png"),
                    chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                    :title => curriculum.human_access, :rel => "tipsy" %>
        <%= link_to "Учебный план #{curriculum.year}",
                    curriculum.attachment.data.url,
                    :class => "#{curriculum.access}_pdf download" %>

      <% end %>
    </div>
  </div>
<% end %>

