<tr>
  <td>
    <%= "#{employee.post} каф.#{employee.chair.abbr}" %>
    <% if current_user.roles.include?(:admin) %>
      <%= link_to t(:edit), edit_manage_role_path(employee) if can? :manage, employee %>
      <% unless employee.aasm_events_for_current_state.empty? %>
        <% employee.aasm_events_for_current_state.each do |event| %>
          <%= link_to(t("role.#{event}"), transit_manage_role_path(employee,
                                                      :event => event),
                                                      :method => :put) %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to t(:edit), edit_human_roles_employee_path(employee) %>
    <% end %>
  </td>
  <td><%= t "role.#{employee.state}" %></td>
  <td><%= l employee.created_at, :format => :long %></td>
</tr>

