<tr>
  <td>
    <%= "#{student.title} гр.#{student.group}"  %>
    <% if current_user.roles.include?(:admin) %>
      <%= link_to t(:edit), edit_manage_role_path(student) if can? :manage, student %>
      <% unless student.aasm_events_for_current_state.empty? %>
        <% student.aasm_events_for_current_state.each do |event| %>
          <%= link_to(t("role.#{event}"), transit_manage_role_path(student,
                                                      :event => event),
                                                      :method => :put) %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to t(:edit), edit_human_roles_student_path(student) %>
    <% end %>
  </td>
  <td><%= t("role.#{student.state}") %></td>
  <td><%= l student.created_at, :format => :long %></td>
</tr>

