<%= semantic_form_for resource_instance_name, resource, :url => collection_path, :html => { :multipart => true } do |form| %>
  <%= form.error_messages %>
  <%= render :partial => "form", :object => form %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), collection_path, :class => "button light" %></li>
  <% end %>
<% end %>

