<div class="human_profile">

  <% unless current_user.human.new_record? %>
    <div class="roles_info">
      <%= content_tag(:p, link_to('Администрирование системы', manage_root_path), :class => "manage") if @human.admin? %>
      <% if @human.roles.any? %>
        <ul class="list">
          <% @human.roles.each do |role| %>
            <li class="<%= "#{role.type.demodulize.downcase}_icon" %>"><%= "#{role} (#{role.human_state.mb_chars.downcase})" %></li>
          <% end %>
        </ul>
      <% else %>
        <p><strong>Уточните свой статус в ТУСУРе, чтобы получить доступ к просмотру и скачиваю всех необходимых ресурсов</strong></p>
      <% end %>
      <ul class="add_links">
        <li class="student_icon" >
          <%= link_to "Добавить роль студента", new_human_student_path %>
        </li>
        <li class="graduate_icon" >
          <%= link_to "Добавить роль магистранта", new_human_graduate_path %>
        </li>
        <li class="postgraduate_icon" >
          <%= link_to 'Добавить роль аспиранта', new_human_postgraduate_path %>
        </li>
        <li class="employee_icon" >
          <%= link_to "Добавить роль сотрудника", new_human_employee_path %>
        </li>
      </ul>
    </div>
  <% end %>

  <div class="avatar">
    <%= image_tag @human.user ? @human.user.gravatar_url(size:90) : "human_icon.png", :width => 90, :height => 90 %>
  </div>

  <div class="personal_info">
    <h3>
      <%= @human.full_name.strip.blank? ? "Укажите свою фамилию, имя и отчество" : @human.full_name %>
    </h3>
    <ul>
      <li>
        <%= link_to "Изменить информацию о себе", edit_human_path %>
      </li>
      <li>
        <%= link_to "Изменить электронную почту и пароль", edit_user_registration_path %>
      </li>
      <li class="how_to">
        <%= link_to "Как изменить аватар?", "http://gravatar.com", target:"_blank", class:"need_tipsy", title:"Чтобы изменить аватар - зарегестрируйтесь на http://gravatar.com, используя адрес электронной почты, указанный в своём профиле на портале." %>
      </li>
    </ul>
  </div>

  <hr />

  <%= render :partial => "crud/publications/item", locals:{human:@human} %>
</div>

