<% title @curriculum.title %>

<p class="resource_state_<%= resource.state %> curriculum_resource_state"><%= t "attributes.state_enum.#{resource.state}" %></p>

<fieldset class="curriculum_info">
  <div>
    <span class="duration">Срок обучения <%= resource.duration %></span>
    <% if resource.attachment %>
      <%= link_to image_tag("icon_pdf_#{resource.access}.png"),
                  resource.attachment.data.url,
                  :title => resource.human_access, :rel => "tipsy" %>
      <%= link_to "#{resource.resource_name}, #{resource.year}", resource.attachment.data.url,
                  :class => "#{resource.access}_pdf download" %>
    <% else %>
      файл отсутствует
    <% end %>
  </div>
</fieldset>

<ul class="curriculum_action">
  <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
  <% resource.aasm_events_for_current_state.each do |event| %>
    <li><%= link_to t("curriculum.#{event}"), transit_resource_path(:event => event), :class => "button", :method => :put %></li>
  <% end %>
</ul>

<h2>Семестры</h2>

<div class="curriculum_semesters">
  <table class="semesters_header">
    <tr>
      <% (1..resource.cources_count).each do |cource| %>
        <th colspan="2"><%= "#{cource} курс" %></th>
      <% end %>
    </tr>
    <tr>
      <% resource.semesters.each do |semester| %>
        <td><%= link_to "#{semester.number}", manage_chair_speciality_curriculum_semester_path(@chair, @speciality, resource, semester) %></td>
      <% end %>
      <%= content_tag :td, raw("&nbsp;"), :class => "current" unless resource.semesters_count.even? %>
    </tr>
  </table>
  <div class="semesters_body">
    тут будут дисциплины
  </div>
</div>

<p><%= link_to t('semester.add'), new_manage_chair_speciality_curriculum_semester_path(@chair, @speciality, resource), :class => "button" %></p>

