<% title @curriculum.title %>
<%= show_for resource do |curriculum| %>
  <%= curriculum.attributes :duration %>
<% end %>

<%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>
<%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>

<%= link_to t(:edit), edit_resource_path(resource) %>

<h2>Семестры</h2>
<ul>
  <% resource.semesters.each do |semester| %>
    <li>
      <%= link_to semester.number, manage_chair_speciality_curriculum_semester_path(@chair, @speciality, resource, semester) %>
    </li>
  <% end %>
</ul>
<%= link_to t('semester.add'), new_manage_chair_speciality_curriculum_semester_path(@chair, @speciality, resource) %>

