<% title @curriculum.title %>

<fieldset class="additional_info">
  <div>
    <p>
      <span class="duration">Срок обучения <%= @curriculum.duration %></span>
      <% if @curriculum.attachment %>
        <%= link_to image_tag("icon_pdf_#{@curriculum.access}.png"),
                    @curriculum.attachment.data.url,
                    :title => @curriculum.human_access, :rel => "tipsy" %>
        <%= link_to "Учебный план #{@curriculum.year}", @curriculum.attachment.data.url,
                    :class => "#{@curriculum.access}_pdf download" %>
      <% else %>
        файл отсутствует
      <% end %>
    </p>
  </div>
</fieldset>

<ul class="curriculum_action">
  <li><%= link_to t(:edit), edit_manage_chair_curriculum_path(@chair, @curriculum), :class => "button" %></li>
  <% @curriculum.aasm_events_for_current_state.each do |event| %>
    <li class="curriculum_resource_state">
      <p class="resource_state_<%= @curriculum.state %>"><%= @curriculum.human_state %></p>
      <%= link_to @curriculum.human_event_name(event),
                  transit_manage_chair_curriculum_path(@chair, @curriculum, :event => event),
                  :class => "button", :method => :put %>
    </li>
  <% end %>
</ul>

<div class="cycles">
  <% Plan::Study.enum[:cycle].each do |cycle| %>
    <div class="cycle">
      <h3><a id="<%= cycle %>"><%= Plan::Study.human_enum[:cycle][cycle.to_sym] %></a></h3>
      <% if (@curriculum.studies.send "cycle_#{cycle}").empty? %>
        <p>Нет дисциплин</p>
      <% else %>
        <ul>
          <% (@curriculum.studies.send "cycle_#{cycle}").each do |study| %>
            <li>
              <h4>
                <%= study.discipline.name %>
                <abbr title="<%= study.chair.name %>" rel="tipsy">
                  <%= study.chair.abbr %>
                </abbr>
                <%= link_to t("edit"),
                            edit_manage_chair_curriculum_study_path(@chair, @curriculum, study),
                            :title => t("edit"), :rel => "tipsy", :class => "discipline_edit" %>
              </h4>
              <ul>
                <% study.semesters.each do |semester| %>
                 <li>
                  <%= "#{semester.number} семестр " %>
                  <% semester.educations.where(:study_id => study.id).each do |education| %>
                    <%= "(#{education.examinations.collect(&:name).join(', ').mb_chars.downcase})" unless education.examinations.empty? %>
                  <% end %>
                 </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<p><%= link_to "Добавить дисциплину",
               new_manage_chair_curriculum_study_path(@chair, @curriculum),
               :class => "button" %></p>

