<% title @curriculum.title %>

<fieldset class="additional_info">
  <div>
    <p>
      <span class="duration">Срок обучения <%= @curriculum.duration %></span>
      <% if @curriculum.attachment %>
        <%= link_to image_tag("icon_pdf_#{@curriculum.access}.png"),
                    @curriculum.attachment.data.url,
                    :title => @curriculum.human_access, :rel => "tipsy" %>
        <%= link_to "Учебный план #{@curriculum.year}", @curriculum.attachment.data.url,
                    :class => "#{@curriculum.access}_pdf download" %>
      <% else %>
        файл отсутствует
      <% end %>
    </p>
  </div>
</fieldset>

<ul class="curriculum_action">
  <li><%= link_to t(:edit), edit_manage_chair_curriculum_path(@chair, @curriculum), :class => "button" %></li>
  <% @curriculum.aasm_events_for_current_state.each do |event| %>
    <li class="curriculum_resource_state">
      <p class="resource_state_<%= @curriculum.state %>"><%= @curriculum.human_state %></p>
      <%= link_to @curriculum.human_event_name(event),
                  transit_manage_chair_curriculum_path(@chair, @curriculum, :event => event),
                  :class => "button", :method => :put %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Добавить дисциплину",
               new_manage_chair_curriculum_study_path(@chair, @curriculum),
               :class => "button" %></p>

<table class="curriculum_table">
  <thead>
    <tr>
      <th rowspan="2">Дисциплина</th>
      <% courses = (@curriculum.semesters.count/2).round %>
      <% courses.times do |course| %>
        <th colspan="2"><%= "#{course+1} курс" %></th>
      <% end %>
    </tr>
    <tr>
      <% @curriculum.semesters.each do |semester| %>
        <th><%= semester.number %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Plan::Study.enum[:cycle].each do |cycle| %>
      <tr class="cycle">
        <td colspan="<%= @curriculum.semesters.count+1 %>"><a id="<%= cycle %>"><%= Plan::Study.human_enum[:cycle][cycle.to_sym] %></a></td>
      </tr>
      <% if (@curriculum.studies.send "cycle_#{cycle}").empty? %>
        <tr>
          <td colspan="<%= @curriculum.semesters.count+1 %>">Нет дисциплин</td>
        </tr>
      <% else %>
        <% (@curriculum.studies.send "cycle_#{cycle}").each do |study| %>
          <tr class="discipline">
            <td class="discipline_name">
              <%= study.discipline.name %>
              <abbr title="<%= study.chair.name %>" rel="tipsy">
                <%= study.chair.abbr %>
              </abbr>
              <%= link_to t("edit"),
                          edit_manage_chair_curriculum_study_path(@chair, @curriculum, study),
                          :title => t("edit"), :rel => "tipsy", :class => "discipline_edit" %>
            </td>
            <% @curriculum.semesters.each do |semester| %>
              <% if study.semesters.find_by_number(semester.number) %>
                <td class="existed"><%= study.educations.where(:semester_id => semester.id).first.examinations.map(&:name).join(', ').mb_chars.downcase %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

