<% title @curriculum.title %>

<fieldset class="additional_info">
  <div>
    <p>
      <span class="duration">Срок обучения <%= @curriculum.duration %></span>
      <% if @curriculum.attachment %>
        <%= link_to image_tag("icon_pdf_#{@curriculum.access}.png"),
                    @curriculum.attachment.data.url,
                    :title => @curriculum.human_access, :rel => "tipsy" %>
        <%= link_to "Учебный план #{@curriculum.year}", @curriculum.attachment.data.url,
                    :class => "#{@curriculum.access}_pdf download" %>
      <% else %>
        файл отсутствует
      <% end %>
    </p>
  </div>
</fieldset>

<ul class="curriculum_action">
  <li><%= link_to t(:edit), edit_manage_chair_curriculum_path(@chair, @curriculum), :class => "button" %></li>
  <% @curriculum.aasm_events_for_current_state.each do |event| %>
    <li class="curriculum_resource_state">
      <p class="resource_state_<%= @curriculum.state %>"><%= @curriculum.human_state %></p>
      <%= link_to @curriculum.human_event_name(event),
                  transit_manage_chair_curriculum_path(@chair, @curriculum, :event => event),
                  :class => "button", :method => :put %>
    </li>
  <% end %>
</ul>

<h2>Семестры</h2>

<div class="curriculum_semesters">
  <table class="semesters_header">
    <tr>
      <% (1..@curriculum.cources_count).each do |cource| %>
        <th colspan="2"><%= "#{cource} курс" %></th>
      <% end %>
    </tr>
    <tr>
      <% @curriculum.semesters.each do |semester| %>
        <td<%= semester.eql?(@semester) ? " class='current'" : ""%>>
          <%= link_to semester.number,
                      manage_chair_curriculum_semester_path(@chair, @curriculum, semester) %>
        </td>
      <% end %>
      <%= content_tag :td, "" unless @curriculum.semesters_count.even? %>
    </tr>
  </table>
  <div class="semester_body">
    <% unless @semester.educations.empty? %>
      <% @semester.educations.each do |education| %>
        <div class="discipline <%= cycle('odd', 'even') %>">
          <div class="discipline_name">
            <%= education.discipline.name %>
            <abbr title="<%= education.chair.name %>" rel="tipsy"><%= education.chair.abbr %></abbr>
            (<%= education.examinations.collect(&:name).join(", ").mb_chars.downcase %>)
          </div>
          <div class="discipline_edit">
            <%= link_to t("edit"),
                        edit_manage_chair_curriculum_semester_education_path(@chair, @curriculum, @semester, education),
                        :title => t("edit"), :rel => "tipsy" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Дисциплины не заполнены</p>
    <% end %>
    <p class="action"><%= link_to "Добавить дисциплину",
                   new_manage_chair_curriculum_semester_education_path(@chair, @curriculum, @semester),
                   :class => "button" %></p>
  </div>
</div>

<%= link_to "Добавить дисциплину",
             new_manage_chair_curriculum_study_path(@chair, @curriculum),
             :class => "button" %>

