<%= show_for @plan_curriculum do |curriculum| %>
  <%= curriculum.attributes :study, :duration %>
<% end %>

<%= link_to t(:edit), edit_manage_curriculum_path(@plan_curriculum) %>

<h2>Семестры</h2>
<ul>
  <% @plan_curriculum.semesters.each do |semester| %>
    <li>
      <%= link_to semester.number, manage_semester_path(semester) %>
    </li>
  <% end %>
</ul>
<%= link_to t('semester.add'), new_manage_curriculum_semester_path(@plan_curriculum) %>

<h2>Учебный план</h2>
<%= @plan_curriculum.state %>
<% @plan_curriculum.aasm_events_for_current_state.each do |event| %>
  <%= link_to t("curriculum.#{event}"), transit_manage_curriculum_path(@plan_curriculum, :event => event), :method => :put %>
<% end %>
