<% unless @specialities.empty?  %>
  <div class="specialities">
    <% Speciality.enum(:degree).each do |degree| %>
      <% if @specialities[degree] %>
        <fieldset>
          <legend><%= t("noun_#{degree}") %></legend>
          <% @specialities[degree].each do |speciality, curriculums| %>
            <div class="speciality_item">
              <p class="name"><%= speciality.short_title %></p>
              <p class="qualification"><%= speciality.qualification %></p>
              <p class="additional">лицензия: <%= speciality.licence %>, аккредитация: <%= speciality.accreditation %></p>
              <div class="curriculums">
                <% curriculums.each do |curriculum| %>
                <div class="curriculum_item">
                  <div class="name">
                    <%= link_to image_tag("icon_#{curriculum.state}.png"),
                                manage_chair_curriculum_path(@chair, curriculum),
                                :title => curriculum.human_state, :rel => "tipsy" %>
                    <%= link_to curriculum.study_with_since,
                                manage_chair_curriculum_path(@chair, curriculum),
                                :class => curriculum.state %>
                  </div>
                  <div class="info">
                    <span class="duration">Срок обучения <%= curriculum.duration %></span>
                    <% if curriculum.attachment %>
                      <%= link_to image_tag("icon_pdf_#{curriculum.access}.png"),
                                  manage_chair_curriculum_path(@chair, curriculum),
                                  :title => curriculum.human_access, :rel => "tipsy" %>
                      <%= link_to "Учебный план #{curriculum.year}",
                                  curriculum.attachment.data.url,
                                  :class => "#{curriculum.access}_pdf download" %>
                    <% else %>
                      <p>файл отсутствует</p>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
      </fieldset>
      <% end %>
    <% end %>
  </div>
<% end %>

<p><%= link_to t(:new), new_manage_chair_curriculum_path(@chair), :class => "button" %></p>

