<% unless @specialities.empty?  %>
  <div class="specialities">
    <% Speciality.enums[:degree].each do |degree| %>
      <% if @specialities[degree] %>
        <fieldset>
          <legend><%= t("noun_#{degree}") %></legend>
          <% @specialities[degree].each do |speciality, curriculums| %>
            <div class="speciality_item">
              <p class="name"><%= speciality.short_title %></p>
              <p class="qualification"><%= speciality.qualification %></p>
              <p class="additional">лицензия: <%= speciality.licence %>, аккредитация: <%= speciality.accreditation %></p>
              <div class="curriculums">
                <% curriculums.each do |curriculum| %>
                <div class="curriculum_item">
                  <div class="name">
                    <%= link_to image_tag("icon_#{curriculum.state}.png"),
                                manage_chair_curriculum_path(@chair, curriculum),
                                :title => curriculum.human_state, :rel => "tipsy" %>
                    <%= link_to curriculum.study_with_since,
                                manage_chair_curriculum_path(@chair, curriculum),
                                :class => curriculum.state %>
                  </div>
                  <div class="info">
                    <%= show_for curriculum do |item| %>
                      <%= item.attribute :profile, :label => Plan::Curriculum.human_attribute_name("profile_#{item.object.speciality.degree}") if item.object.profile.present? %>
                    <% end %>
                    <span class="duration">Срок обучения <%= curriculum.duration %></span>
                    <% if curriculum.attachment %>
                      <% if can? :download, curriculum.attachment %>
                        <%= image_tag("icon_pdf_free.png") %>

                        <%= link_to "Скачать #{curriculum.since_with_study_form}",
                                    curriculum.attachment.data.url,
                                    :title => curriculum.since_with_study_form,
                                    :class => "need_tipsy", :alt => curriculum.since_with_study_form %>

                      <% else %>
                        <%= image_tag("icon_pdf_#{item.access}.png")  %>
                        <span class="need_tipsy" title="Необходимо зарегистрироваться в качестве студента, магистранта или сотрудника ТУСУР">Вы не можете скачать <%= curriculum.since_with_study_form %>.</span>
                      <% end %>
                    <% else %>
                      <p>файл отсутствует</p>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
      </fieldset>
      <% end %>
    <% end %>
  </div>
<% end %>

<p><%= link_to t(:new), new_manage_chair_curriculum_path(@chair), :class => "button" %></p>

