<%= form.inputs "Файл", :class => "inputs pictorial" do %>
  <%= form.input :resource_name, :as => :string %>
  <%= form.input :year %>
  <%= form.enum_input :access %>
  <% resource.build_attachment unless resource.attachment %>
  <li>
    <%= form.inputs :for => :attachment do |attachment_form| %>
      <%= attachment_form.input :data, :as => :file %>
    <% end %>
  </li>
<% end %>
