<%= render :file => "shared/main_menu.html.erb" %>

<%= content_for :main_page do %>
  <div class="main_page">
    <img src="/images/tusur.jpg" width="920px" height="262px" alt="Автор фотографии: Павел Синегубов" title="Автор фотографии: Павел Синегубов" />
    <ul>
      <li>
        <h4>Что это?</h4>
        <p><span class="nobr">Научно-образовательный</span> портал&nbsp;&mdash;
           это один из&nbsp;электронных ресурсов ТУСУРа. Здесь содержатся
           методические пособия, учебные планы, рабочие программы, публикации
           преподавателей вуза <span class="nobr">и т. п.</span></p>
      </li>

      <li>
        <h4>Для кого?</h4>
        <p>Портал предназначен для студентов, аспирантов, преподавателей
           и&nbsp;сотрудников ТУСУРа. Основная цель ресурса&nbsp;&mdash;
           предоставить доступ к&nbsp;<span class="nobr">научно-методическому</span>
           обеспечению, необходимому в&nbsp;учебном процессе.</p>
      </li>

      <li class="last">
        <h4>Помощь</h4>
        <p><%= link_to "Как разместить УМО?", help_path(:anchor => "howto_umo") %></p>
        <p><%= link_to "Как разместить учебный план?", help_path(:anchor => "howto_curriculum") %></p>
        <p><%= link_to "Как связаться с администрацией?", help_path(:anchor => "administration") %></p>
      </li>
    </ul>
    <div class="greetings_text">
      <p><span class="nobr">Научно-образовательный</span> портал состоит
         из&nbsp;5 основных разделов: &laquo;Для учёбы&raquo;, &laquo;Для
         науки&raquo;, &laquo;Наши кафедры&raquo;, &laquo;Наши люди&raquo;,
         &laquo;Наша библиотека&raquo;. Портал содержит ресурсы и&nbsp;ссылки
         на&nbsp;ресурсы по&nbsp;необходимым предметам. Одной из&nbsp;основных
         задач портала является предоставление доступа к&nbsp;структурированной
         базе предметных разработок: учебным планам, <span class="nobr">учебно-методическому</span>
         обеспечению, электронному расписанию занятий, а&nbsp;также текущей
         успеваемости студентов. Портал позволяет получить реальную помощь
         в&nbsp;процессе обучения.</p>
         <p>Для того чтобы полноценно пользоваться всеми ресурсами портала,
         необходимо зарегистрироваться. Зарегистрированный пользователь имеет
         доступ к&nbsp;полной учебно- методической базе, а&nbsp;также
         возможность отслеживать в&nbsp;личном кабинете свой учебный план
         и&nbsp;расписание занятий в&nbsp;соответствии со&nbsp;специальностью
         или направлением.</p>
         <p>Регистрация осуществляется по&nbsp;одной из&nbsp;форм
         в&nbsp;зависимости от&nbsp;тех возможностей, которые требуются
         пользователю. В&nbsp;настоящее время существует несколько типов
         пользователей: студент, магистрант, аспирант, сотрудник.</p>
    </div>
  </div>
<% end %>

