<ul class='cool_list'>
  <li>
    <h4 class='specialities'>
      <%= link_to 'Учебные планы для специальностей', specialities_path %>
    </h4>
    <ul>
      <% @specialities_facets.each do |facet| %>
        <li><%= link_to "По квалификации #{Speciality.human_enums[:degree][facet.value.to_sym]} (#{facet.count})", specialities_path(:degree => facet.value) %></li>
      <% end %>
    </ul>
    <div class='search_form'>
      <%= render :partial => 'crud/specialities/search_form' %>
    </div>
    <p>В этом разделе расположены учебные планы по всем специальностям и направлениям подготовки ТУСУРа. В каждом учебном плане представлено учебно-методическое обеспечение для изучаемых предметов, разбитое по семестрам. Для поиска необходимого учебного плана, введите код или наименование специальности.</p>
  </li>

  <li>
    <h4 class='publications'>
      <%= link_to 'Учебно-методическое обеспечение', publications_path %>
    </h4>
    <ul>
      <% @publication_facets.each do |facet| %>
        <li><%= link_to "#{Publication.human_enums[:kind][facet.value.to_sym]} (#{facet.count})", publications_path(:kind => facet.value) %></li>
      <% end %>
    </ul>
    <div class='search_form'>
      <%= render :partial => 'crud/publications/search_form' %>
    </div>
    <p>В этом разделе расположено учебно-методическое обеспечение, доступное на данный момент. Для поиска необходимого ресурса, введите код или наименование специальности.</p>
  </li>
</ul>

