<div class='work_programm'>
  <%= link_to image_tag("icon_pdf_#{item.access}.png"),
                item.attachment.data.url,
                :title => item.human_access, :rel => "tipsy" %>
    <a href="<%= manage_chair_work_programm_path(@chair, item) %>">
      <span><%= "#{item.title} / " %></span>

      <span class="authors">
        <%= item.authors.any? ? raw("#{item.authors.map(&:abbreviated_name).join(', ')} &ndash;")  : "" %>
      </span>

      <span class="year"><%= "#{item.year}. " %> &ndash;</span>

      <span class="volume"><%= "#{item.volume} Ñ." %></span>
    </a>
</div>

