<% title @work_programm.title %>

<div class="work_programm">
  <%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>

  <ul class="resource_action">
    <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
    <%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>
  </ul>



  <div class='disciplines'>
    <div>
      <h2>Дисциплины</h2>
      <%= link_to t("resource_education.add"), new_manage_chair_work_programm_resource_discipline_path(@chair, @work_programm), :class => 'add' %>
    </div>
    <% unless @work_programm.resource_disciplines.empty? %>
      <ul>
        <% @work_programm.resource_disciplines.each do |resource_discipline| %>
          <li>
            <%= "#{resource_discipline.discipline.speciality.code} - #{resource_discipline.discipline.speciality.name} (#{resource_discipline.discipline.speciality.chair.abbr})" %>
            <%= resource_discipline.discipline.name %>
            <%= resource_discipline.educations.collect(&:semester).collect(&:number).join(", ") %> семестры
            <%= link_to t(:edit), edit_manage_chair_work_programm_resource_discipline_path(@chair, @work_programm, resource_discipline) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
