<% title @work_programm.title %>

<ul class="resource_action">
  <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
  <%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>
</ul>

<% @work_programm.authors.each do |author| %>
  <%= author.name %>
<% end %>
<%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>

<h2>Автор(ы)</h2>

<ul>
  <% @work_programm.authors.each do |author| %>
    <li>
      <%= author.human.full_name %>
      <%= link_to t(:edit), edit_manage_chair_work_programm_author_path(@chair, @work_programm, author) %>
    </li>
  <% end %>
</ul>

<%= link_to t("author.add"), new_manage_chair_work_programm_author_path(@chair, @work_programm) %>

<h2>Дисциплины</h2>

<ul>
  <% @work_programm.resource_educations.each do |resource_education| %>
    <li>
      <%= resource_education.education.speciality.slug %>
      <%= resource_education.education.curriculum.human_study %>
      <%= link_to t(:edit), edit_manage_chair_work_programm_resource_education_path(@chair, @work_programm, resource_education) %>
    </li>
  <% end %>
</ul>
<%= link_to t("resource_education.add"), new_manage_chair_work_programm_resource_education_path(@chair, @work_programm) %>

