<% title @work_programm.title %>

<div class="work_programm">
  <ul class="resource_action">
    <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
    <%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>
  </ul>

  <%= @work_programm.authors_list %>

  <%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>

  <div class='authors'>
    <div>
      <h2>Автор(ы)</h2>
    </div>
    <% unless @work_programm.authors.empty? %>
      <ul>
        <% @work_programm.authors.each do |author| %>
          <li>
            <span><%= author.human.full_name %></span>

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class='disciplines'>
    <div>
      <h2>Дисциплины</h2>
      <%= link_to t("resource_education.add"), new_manage_chair_work_programm_resource_education_path(@chair, @work_programm), :class => 'add' %>
    </div>
    <% unless @work_programm.resource_educations.empty? %>
      <ul>
        <% @work_programm.resource_educations.each do |resource_education| %>
          <li>
            <%= resource_education.education.speciality.slug %>
            <%= resource_education.education.curriculum.human_study %>
            <%= link_to t(:edit), edit_manage_chair_work_programm_resource_education_path(@chair, @work_programm, resource_education) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
