<div class='publication'>
  <%= link_to image_tag("icon_#{item.state}.png"),
              manage_chair_publication_path(@chair, item),
              :title => item.human_state, :rel => "tipsy" %>
  <%= link_to manage_chair_publication_path(@chair, item) do %>
    <span class="title"><%= "#{item.title}: " %></span>
    <span><%= "#{item.extended_kind} /" %></span>
    <span class="authors">
      <%= item.authors.any? ? raw("#{item.authors.map(&:abbreviated_name).join(', ')} &ndash;")  : "" %>
    </span>
    <span class="year"><%= "#{item.year}. " %> &ndash;</span>
    <span class="volume"><%= "#{item.volume} с." %></span>
  <% end %>
  <%= link_to item.attachment.data.url, :class => "nobr" do %>
    <%= image_tag("icon_pdf_#{item.access}.png", :title => item.human_access, :rel => "tipsy") %>
    скачать
  <% end %>
</div>

