<% title "#{@publication.title} — #{@publication.human_kind}" %>
<p><%= @publication.extended_kind %></p>
<% unless @publication.comment.blank? %>
  <p><%= @publication.comment %></p>
<% end %>
<div class="publication">
  <%= render :partial => "/common/resource", :locals => { :resource => resource } %>

  <ul class="resource_action">
    <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
    <li><%= link_to 'Лицензионный договор', to_report_manage_chair_publication_path(resource), :class => "button" %></li>
    <%= render :partial => "/common/resource_state", :locals => { :resource => resource } %>
  </ul>

  <div class="additional">
    <div>
      <h2>Дополнительно</h2>
    </div>
    <%= show_for resource, :id => 'additional_attributes' do |publication| %>
      <% @publication.fields_for_kind.each do |attribute| %>
        <% if attribute == :annotation || attribute == :content || attribute.eql?(:stamp) %>
          <%= publication.attribute attribute do %>
            <%= @publication.send(attribute).blank? ? simple_format("не указано") : simple_format(@publication.send(attribute).gilensize) %>
          <% end %>
        <% else %>
          <%= publication.attribute attribute %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class='disciplines'>
    <h2>Дисциплины</h2>
    <% unless @publication.publication_disciplines.empty? %>
      <% @publication.grouped_disciplines.each do |speciality, publication_disciplines| %>
        <p class="speciality_name"><%= speciality.autocomplete_value %></p>
        <% publication_disciplines.each do |publication_discipline| %>
          <p class="discipline_name">
            <%= publication_discipline.discipline.name %>
            <%= link_to t(:edit), edit_manage_chair_publication_publication_discipline_path(@chair, @publication, publication_discipline), :class => "edit" %>
          </p>
          <ul class="educations">
          <% publication_discipline.educations_grouped_by_curriculums.each do |curriculum, educations| %>
            <li>
              <%= curriculum.human_study %>:
              <%= educations.collect(&:semester).collect(&:number).join(", ") %>
              <%= t("semester.associate_publications", :count => educations.size) %>
            </li>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
    <p><%= link_to "Добавить дисциплину", new_manage_chair_publication_publication_discipline_path(@chair, @publication), :class => 'button' %></p>
  </div>
</div>

