<% title @publication.title %>

<div class="publication">
  <%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>

  <ul class="resource_action">
    <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
    <%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>
  </ul>

  <div class='disciplines'>
    <div>
      <h2>Дисциплины</h2>
    </div>
    <% unless @publication.publication_disciplines.empty? %>
      <ul>
        <% @publication.publication_disciplines.each do |publication_discipline| %>
          <li>
            <p><%= publication_discipline.discipline.speciality.autocomplete_value %></p>
            <p><%= publication_discipline.discipline.name %></p>
            <p><%= publication_discipline.educations.collect(&:semester).collect(&:number).join(", ") %> семестры</p>
            <%= link_to t(:edit), edit_manage_chair_publication_publication_discipline_path(@chair, @publication, publication_discipline) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <p><%= link_to "Добавить дисциплину", new_manage_chair_publication_publication_discipline_path(@chair, @publication), :class => 'button' %></p>
  </div>
</div>
