<% title @publication.title %>

<div class="publication">
  <%= render :partial => "manage/common/resource", :locals => { :resource => resource } %>

  <ul class="resource_action">
    <li><%= link_to t(:edit), edit_resource_path(resource), :class => "button" %></li>
    <%= render :partial => "manage/common/resource_state", :locals => { :resource => resource } %>
  </ul>

  <div class='disciplines'>
    <div>
      <h2>Дисциплины</h2>
    </div>
    <% unless @publication.publication_disciplines.empty? %>
      <% @publication.grouped_disciplines.each do |speciality, publication_disciplines| %>
        <p><%= speciality.autocomplete_value %></p>
        <% publication_disciplines.each do |publication_discipline| %>
          <p><%= publication_discipline.discipline.name %></p>
          <p><%= link_to t(:edit), edit_manage_chair_publication_publication_discipline_path(@chair, @publication, publication_discipline) %></p>
          <% publication_discipline.educations_grouped_by_curriculums.each do |curriculum, educations| %>
            <p><%= curriculum.human_study %></p>
            <p><%= educations.collect(&:semester).collect(&:number).join(", ") %> <%= t("semester.associate_publications", :count => educations.size) %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <p><%= link_to "Добавить дисциплину", new_manage_chair_publication_publication_discipline_path(@chair, @publication), :class => 'button' %></p>
  </div>
</div>
