<div class="publication facets">
  <%= render_navigation :context => 'manage_publication' %>
</div>

<%= semantic_form_for :publications, :html => { :method => :get, :class => "publication_search" } do | form | %>
  <%= form.inputs do %>
    <%= form.input :query, :required => false, :label => false, :input_html => { :name => 'query', :value => params[:query] } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button "Найти", :button_html => { :class => "button light" } %>
  <% end %>
<% end %>

<% if collection.any? %>
  <div class="publications_list">
    <% @publications.each do |obj| %>
      <%= render :partial => "index_item", :locals => { :item => obj } %>
    <% end %>
  </div>

<% end %>


<%= will_paginate @publications %>

<div><%= link_to t("new"), new_resource_path, :class => 'button' %></div>

