  <% unless human.publications.published.empty? %>
    <div class="human_publications">
      <ul class="tabs">
        <% Publication.human_enums[:kind].each_with_index do |kind, index| %>
          <li id="<%= kind[0] %>" class="<%= index == 0 and 'active' %>">
            <a href="#"><%= kind[1] %></a>
          </li>
        <% end %>
      </ul>

      <% Publication.enums[:kind].each_with_index do |kind, index| %>
        <ul class="<%= "#{kind} #{'first' if index == 0}" %>">
          <% if human.publications.published.send("kind_#{kind}").empty? %>
            <li class='publication'>
              <p>Нет публикаций данного типа</p>
            </li>
          <% end %>
          <% human.publications.published.send("kind_#{kind}").each do |publication| %>
            <li class='publication'>
              <%= link_to publication, publication_path(publication) %>
              <p><%= publication.annotation %></p>
              <%= render :partial => "shared/resource_link", :locals => {:resource => publication} %>
              <hr />
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

