<div class="human_profile">
  <div class="roles_info">
    <ul class="list">
      <% @human.roles.each do |role| %>
        <li class="<%= "#{role.type.demodulize.downcase}_icon" %>"><%= role %></li>
      <% end %>
    </ul>
    <ul class="add_links">
      <li class="student_icon" >
        <%= link_to 'Добавить роль студента', new_human_roles_student_path %>
      </li>
      <li class="graduate_icon" >
        <%= link_to 'Добавить роль магистранта', new_human_roles_graduate_path %>
      </li>
      <li class="employee_icon" >
        <%= link_to 'Добавить роль сотрудника', new_human_roles_employee_path %>
      </li>
    </ul>
  </div>

  <div class="avatar">
    <%= image_tag @human.user ? @human.user.gravatar_url(size:90) : 'human_icon.png' %>
  </div>

  <div class="personal_info">
    <h3>
      <%= @human.full_name %>
    </h3>

    <ul>
      <li>
        <%= link_to 'Изменить личную информацию', edit_human_path unless @human.new_record? %>
      </li>
      <li>
        <%= link_to 'Изменить электронную почту и пароль', edit_user_registration_path %>
      </li>
      <li class="how_to">
        <%= link_to 'Как изменить аватар?', 'http://gravatar.com', target:'_blank', class:'need_tipsy', title:'Чтобы изменить аватар - зарегестрируйтесь на http://gravatar.com, используя адрес электронной почты, представленный на портале.' %>
      </li>
    </ul>
  </div>

  <hr />

  <% unless @human.publications.empty? %>
    <div class="human_publications">
      <ul class="tabs">
        <% Publication.human_enum[:kind].each_with_index do |kind, index| %>
          <li id="<%= kind[0] %>" class="<%= index == 0 and 'active' %>">
            <a href="#"><%= kind[1] %></a>
          </li>
        <% end %>
      </ul>

      <% Publication.enum(:kind).each_with_index do |kind, index| %>
        <ul class="<%= "#{kind} #{'first' if index == 0}" %>">
          <% @human.publications.send(kind).each do |publication| %>
            <li class='publication'>
              <%= link_to publication, publication_path(publication) %>
              <p><%= publication.annotation %></p>
              <%= render :partial => "common/resource_link", :locals => {:resource => publication} %>
              <hr />
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

