<%= semantic_form_for resource, :url => human_path do |form| %>
  <%= form.inputs :surname, :name, :patronymic %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:class => 'button'} %>
    <li><%= link_to t(:cancel), human_path, :class => "button light" %></li>
  <% end %>
<% end %>

