<%= semantic_form_for resource, :url => human_postgraduates_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :chair, :group_by => :faculty, :input_html => { :class => "focus_first" } %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:class => 'button'} %>
    <li><%= link_to t(:cancel), profile_path, :class => "button light" %></li>
  <% end %>
<% end %>

