<% title 'Обеспечиваемые дисциплины' %>

<%= show_for @curriculum do |curriculum| %>
  <fieldset class="pictorial">
    <%= curriculum.attribute :speciality_title %>
    <%= curriculum.attribute :profile, :label => Curriculum.human_attribute_name("profile_#{curriculum.object.speciality.degree}") %>
  </fieldset>
<% end %>

<div class="provided_disciplines">
  <% collection.each do |semester, educations| %>
    <div class='semester_block'>
      <h2><%= semester.title %></h2>
      <div class='educations'>
        <% if educations.any? %>
          <% educations.each do |education| %>
            <div class="education_item">
              <h3><%= education.discipline.name %></h3>
              <% if education.grouped_publications.values.flatten.any? %>
                <% education.grouped_publications.each do |kind, publications| %>
                  <% if publications.any? %>
                    <p><%= t("activerecord.attributes.publication.kind_enum.#{kind}") %></p>
                    <% publications.each do |publication| %>
                      <%= render :partial => "crud/manage/publications/item", :locals => {:item => publication} %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <p>Нет связанных публикаций</p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>Нет обеспечиваемых дисциплин</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

