<p><%= @disk.title %></p>
<%= show_for resource do | s | %>
  <%= s.attribute :data_file_name %>
  <%= s.attribute :data_file_size do %>
    <%= number_to_human_size(resource.data_file_size, :precision => 4) %>
  <% end %>
  <% unless resource.protected_children.empty? %>
    С этим объектом связаны:
    <% resource.protected_children.each do |attribute| %>
      <ul class='protected_children'>
        <%= s.association attribute.to_sym do | object | %>
          <li><%= @disk.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
