<% title @disk.title %>

<p>
  <%= link_to t(:edit_disk), edit_manage_disk_path(@disk), :class => "button" %>
  <%= link_to t(:back),  manage_disks_path, :class => 'button light' %>
</p>

<%= semantic_form_for @issue || @disk.issues.new, :url => manage_disk_issues_path(@disk), :html => {:multipart => true} do |form| %>
  <%= form.error_messages %>
  <%= form.inputs do %>
    <%= form.input :data, :as => :file, :input_html => { :class => 'focus_first' } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button t(:new), :button_html => { :class => 'button' } %>
  <% end %>
<% end %>

<% if @issues.any? %>
  <ol class="issues_list">
  <% @issues.each do | issue | %>
    <li>
      <div class="info">
      <strong><%= issue.data_file_name %></strong>
      [<%= number_to_human_size(issue.data_file_size, :precision => 4) %>]
      <%= link_to t(:delete), delete_manage_disk_issue_path(@disk,issue), :class => 'red', :title => t('delete') %>
      </div>
      <div class="report"><%= issue.import_report %></div>
    </li>
  <% end %>
  </ol>
<% else %>
  <h3><%= t('no_any_files') %></h3>
<% end %>
