<%= form.inputs :class => "inputs speciality_name" do %>
  <%= form.input :code, :input_html => { :class => "focus_first" } %>
  <%= form.input :name %>
<% end %>
<%= form.inputs :class => "inputs speciality_qualification" do %>
  <%= form.enum_input :degree %>
  <%= form.input :qualification %>
<% end %>

<div class="speciality_additional">
  <% @speciality.build_licence unless @speciality.licence %>
  <%= form.inputs @speciality.licence.class.model_name.human,
                  :for => :licence,
                  :class => "inputs pictorial speciality_licence" do |licence_form| %>
    <%= licence_form.input :number %>
    <%= licence_form.date_input :issued_on %>
  <% end %>

  <% @speciality.build_accreditation unless @speciality.accreditation %>
  <%= form.inputs @speciality.accreditation.class.model_name.human,
                  :for => :accreditation,
                  :class => "inputs pictorial speciality_accreditation" do |accreditation_form| %>
    <%= accreditation_form.input :number %>
    <%= accreditation_form.date_input :issued_on %>
  <% end %>
</div>
