<div class="clearfix">
  <%= form.inputs "Общая информация",
                  :class => "inputs pictorial speciality_common_info" do %>
    <%= form.input :code, :input_html => { :class => "focus_first" } %>
    <%= form.input :name %>
    <%= form.input :qualification %>
    <%= form.enum_input :degree %>
  <% end %>

  <% @speciality.build_licence unless @speciality.licence %>
  <%= form.inputs @speciality.licence.class.model_name.human,
                  :for => :licence,
                  :class => "inputs pictorial speciality_licence" do |licence_form| %>
    <%= licence_form.input :number %>
    <%= licence_form.date_input :issued_at %>
  <% end %>

  <% @speciality.build_accreditation unless @speciality.accreditation %>
  <%= form.inputs @speciality.accreditation.class.model_name.human,
                  :for => :accreditation,
                  :class => "inputs pictorial speciality_accreditation" do |accreditation_form| %>
    <%= accreditation_form.input :number %>
    <%= accreditation_form.date_input :issued_at %>
  <% end %>
</div>
