<% title @speciality.title %>

<p class="floatr">
  <%= link_to t(:edit), edit_resource_path, :class => "button" %>
</p>
<%= show_for @speciality do |speciality| %>
  <%= speciality.association :chair %>
  <%= speciality.attribute :qualification %>
  <%= speciality.attribute :licence %>
  <%= speciality.attribute :accreditation %>
<% end %>

<p class="floatr">
  <%= link_to t('curriculum.add'),
              new_manage_chair_speciality_curriculum_path(@chair, @speciality),
              :class => "button" %>
</p>
<h2>Форма обучения</h2>
<ul class="curriculums">
  <% @speciality.curriculums.each do |curriculum| %>
    <li>
      <%= link_to curriculum.human_study,
                  manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                  :class => curriculum.state %>
    </li>
  <% end %>
</ul>
