<% title @speciality.title %>

<p class="floatr">
  <%= link_to t(:edit), edit_resource_path, :class => "button" %>
</p>
<%= show_for @speciality do |speciality| %>
  <%= speciality.association :chair %>
  <%= speciality.attribute :qualification %>
  <%= speciality.attribute :licence %>
  <%= speciality.attribute :accreditation %>
<% end %>

<p class="floatr">
  <%= link_to t('curriculum.add'),
              new_manage_chair_speciality_curriculum_path(@chair, @speciality),
              :class => "button" %>
</p>
<h2>Учебные планы</h2>

<table class="curriculums">
  <tbody>
    <tr>
      <th rowspan="2">Форма обучения</th>
      <th rowspan="2">Срок обучения</th>
      <th colspan="2">Файл учебного плана</th>
    </tr>
    <tr>
      <th>Год издания</th>
      <th>Файл</th>
    </tr>
    <% @speciality.curriculums.each do |curriculum| %>
      <tr>
        <td>
          <%= link_to image_tag("icon_curriculum_#{curriculum.state}.png"),
                      manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                      :title => curriculum.human_state, :rel => "tipsy" %>
          <%= link_to curriculum.human_study,
                      manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                      :class => curriculum.state,  %>
        </td>
        <td><%= curriculum.duration %></td>
        <td><%= curriculum.year %></td>
        <td>
          <% if curriculum.attachment %>
            <%= link_to image_tag("icon_pdf_#{curriculum.access}.png"),
                        manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                        :title => curriculum.human_access, :rel => "tipsy" %>
            <%= link_to curriculum.resource_name, curriculum.attachment.data.url,
                        :class => "#{curriculum.access}_pdf download" %>
          <% else %>
            файл отсутствует
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

