<%= show_for @speciality do |speciality| %>

  <%= show_for @speciality.licence do |licence| %>
    <%= licence.attributes :number, :issued_at %>
  <% end if @speciality.licence %>

  <%= show_for @speciality.accreditation do |accreditation| %>
    <%= accreditation.attributes :number, :issued_at %>
  <% end if @speciality.accreditation %>

  <%= speciality.association :chair %>
  <%= speciality.attributes :code, :name, :qualification, :degree %>
<% end %>

<%= link_to t(:edit), edit_resource_path %>


<h2>Учебные планы</h2>
<ul>
  <% @speciality.curriculums.each do |curriculum| %>
    <li>
      <%= link_to curriculum.human_study, manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum) %>
    </li>
  <% end %>
</ul>
<%= link_to t('curriculum.add'), new_manage_chair_speciality_curriculum_path(@chair, @speciality) %>
