<% title @speciality.title %>

<p class="floatr">
  <%= link_to t(:edit), edit_resource_path, :class => "button" %>
</p>
<%= show_for @speciality do |speciality| %>
  <%= speciality.association :chair %>
  <%= speciality.attribute :qualification %>
  <%= speciality.attribute :licence %>
  <%= speciality.attribute :accreditation %>
<% end %>

<h2>Учебные планы</h2>

<% @speciality.curriculums.each do |curriculum| %>
  <div class="curriculum_item">
    <div class="name">
      <%= link_to image_tag("icon_#{curriculum.state}.png"),
                  manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                  :title => curriculum.human_state, :rel => "tipsy" %>
      <%= link_to curriculum.study_with_since,
                  manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                  :class => curriculum.state %>
    </div>
    <div class="info">
      <span class="duration">Срок обучения <%= curriculum.duration %></span>
      <% if curriculum.attachment %>
        <%= link_to image_tag("icon_pdf_#{curriculum.access}.png"),
                    manage_chair_speciality_curriculum_path(@chair, @speciality, curriculum),
                    :title => curriculum.human_access, :rel => "tipsy" %>
        <%= link_to "Учебный план #{curriculum.year}",
                    curriculum.attachment.data.url,
                    :class => "#{curriculum.access}_pdf download" %>
      <% else %>
        файл отсутствует
      <% end %>
    </div>
  </div>
<% end %>

<p>
  <%= link_to t('curriculum.add'),
              new_manage_chair_speciality_curriculum_path(@chair, @speciality),
              :class => "button" %>
</p>

