<%= show_for @speciality do |speciality| %>
  <%= show_for @speciality.licence do |licence| %>
    <%= licence.attributes :number, :issued_at %>
  <% end %>

  <%= show_for @speciality.accreditation do |accreditation| %>
    <%= accreditation.attributes :number, :issued_at %>
  <% end %>

  <%= speciality.association :chair %>
  <%= speciality.attributes :code, :name, :qualification, :degree %>

  <p>
    <strong>Срок обучения</strong><br />
    <%= @speciality.duration %>
  </p>
<% end %>

<%= link_to t(:edit), edit_resource_path %> |
<%= link_to t(:destroy), resource_path, :confirm => 'are you sure?', :method => :delete %>

<h2>Семестры</h2>
<ul>
  <% @speciality.semesters.each do |semester| %>
    <li>
      <%= link_to semester.number, manage_semester_path(semester) %>
    </li>
  <% end %>
</ul>
<%= link_to t('semester.add'), new_manage_speciality_semester_path(@speciality) %>

<h2>Учебный план</h2>
<%= @speciality.state %>
<%= link_to 'Опубликовать', publish_manage_speciality_path(@speciality) %>
<%= link_to 'Убрать с публикации ', unpublish_manage_speciality_path(@speciality) %>
<ul>
  <% @speciality.disciplines.each do |discipline| %>
    <li>
      <%= discipline.name %>
      <%= link_to t(:edit), edit_manage_discipline_path(discipline) %> |
    </li>
  <% end %>
</ul>
<%= link_to t('discipline.add'), new_manage_speciality_discipline_path(@speciality) %>

