<div class='publication'>
  <%= link_to image_tag("icon_#{item.state}.png"),
              manage_chair_publication_path(@chair, item),
              :title => item.human_state, :rel => "tipsy" %>
  <%= content_tag :span,
                  image_tag("icon_comment_info.png"),
                  :class => "comment_info",
                  :rel => "tipsy",
                  :title => simple_format(item.comment).gilensize.gsub(/"/, "'") unless item.comment.blank? %>
  <%= link_to item, manage_chair_publication_path(@chair, item) %>
  <p><%= item.annotation %></p>
  <%= render :partial => "shared/resource_link", :locals => {:resource => item} %>
</div>

