<h3><%= legend %></h3>
<fieldset class="list_used_book">
  <% used_books.each do |used_book| %>
    <%= show_for used_book do |item| %>
      <%= item.attributes :title %>
      <% used_publication = Publication.where(:id => item.object.publication_code).first %>
      <%= item.attribute :publication_code do
        if used_publication.present?
          link_to used_publication, publication_path(used_publication)
        else
          'не указано'
        end
      end %>
    <%= item.attributes :library_code, :quantity %>
  <% end %>
<% end %>
</fieldset>

