<%= semantic_form_for :humans, :html => { :method => :get } do | form | %>
  <%= form.inputs do %>
    <%= form.input :query, :required => false, :label => false, :input_html => { :name => 'query', :value => params[:query] } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button 'Найти' %>
  <% end %>
<% end %>

<% if collection.any? %>
  <div id="<%= resource_class.name.downcase.pluralize %>_list">
    <% collection.each do |obj| %>
      <%= render :partial => "index_item", :locals => { :item => obj } %>
    <% end %>
  </div>
<% end %>

<%= will_paginate collection %>

<p><%= link_to t("#{resource_class.name.downcase}.add"), new_resource_path, :class => 'button' %></p>

