<%= semantic_form_for resource, :as => resource_instance_name, :url => collection_path, :html => { :multipart => true } do |form| %>
  <%= form.error_messages %>
  <%= form.inputs do %>
    <%= form.input :surname, :input_html => { :class => "focus_first" } %>
    <%= form.input :name %>
    <%= form.input :patronymic %>
    <%= form.input :post %>
  <% end %>
  <p><%= link_to 'Проверить сотрудника', check_manage_humans_path, :class => "button human_check" %></p>

  <div class="employees_list">
  </div>

  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), smart_collection_url, :class => "button light" %></li>
  <% end %>
<% end %>

