<ul class="cool_list">
<% @education.grouped_publications.each do |kind, publications| %>
  <li>
    <h5 class="publications"><%= Publication.human_enum[:kind][kind.to_sym] %></h5>
    <% unless publications.empty? %>
      <ul class="wide without_bullet">
        <% publications.each do |publication| %>
          <li class='publication'>
            <%= link_to image_tag("icon_pdf_#{publication.access}.png"),
                        publication.attachment.data.url,
                        :title => publication.human_access, :rel => "tipsy" %>
            <%= link_to publication.attachment.data.url do %>
              <span class="title"><%= "#{publication.title}: " %></span>
              <span><%= "#{publication.human_kind} /" %></span>
              <span class="authors">
                <%= publication.authors.any? ? raw("#{publication.authors.map(&:abbreviated_name).join(', ')} &ndash;")  : "" %>
              </span>
              <span class="year"><%= "#{publication.year}. " %> &ndash;</span>
              <span class="volume"><%= "#{publication.volume} с." %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li><%= "#{Publication.human_enum[:kind][kind.to_sym]} пока не добавлено."%></li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>

