<ul class="cool_list">
<% @education.grouped_publications.each do |kind, publications| %>
  <li>
    <h5 class="publications"><%= Publication.human_enum[:kind][kind.to_sym] %></h5>
    <% unless publications.empty? %>
      <ul class="wide without_bullet">
        <% publications.each do |publication| %>
          <li class='publication'>

            <% if can? :download, publication.attachment %>
                <%= image_tag("icon_pdf_free.png") %>
                <%= link_to publication, publication.attachment.data.url, :title => publication, :class => "need_tipsy", :alt => publication %>
            <% else %>
              <%= image_tag("icon_pdf_#{publication.access}.png")  %>
              <span class="need_tipsy" title="Необходимо зарегистрироваться в качестве студента, магистранта или сотрудника ТУСУР"><%= publication %></span>
            <% end %>

          </li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li><%= "#{Publication.human_enum[:kind][kind.to_sym]} пока не добавлено."%></li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>

