<% unless @provided_specialities.empty?  %>
  <div class="specialities">
    <% @provided_specialities.each do |degree, specialities| %>
      <fieldset>
        <legend><%= t("noun_#{degree}") %></legend>
        <% specialities.each do |speciality| %>
          <div class="speciality_item">
            <p class="name"><%= speciality.short_title %></p>
            <% speciality.chairs.each do |chair| %>
              <fieldset>
                <legend><%= chair.abbr %></legend>
                  <% unless chair.grouped_curriculums_for_speciality(speciality).empty? %>
                    <ul class="curriculums">
                      <% chair.grouped_curriculums_for_speciality(speciality).each do |curriculum, educations_count| %>
                        <li>
                          <span class="curriculum"><%= link_to curriculum.study_with_since, manage_chair_curriculum_path(chair, curriculum) %></span>
                          <abbr class="educations need_tipsy" title="Количество обеспечиваемых дисциплин"><%= educations_count %></abbr>
                          <% Publication.enum(:kind).each do |kind| %>
                            <% provided = chair.send("provided_curriculum_by_#{kind}", curriculum) %>
                            <abbr class="<%= kind %> <%= provided[:class] %> need_tipsy" title="<%= Publication.human_enum[:kind][kind.to_sym] %>">
                              <%= provided[:provided] %>
                            </abbr>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
              </fieldset>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>
<% else %>
  <p>Нет информации об обеспечиваемых дисциплинах.</p>
<% end %>

