<% unless @provided_specialities.empty?  %>
  <div class="specialities">
    <% @provided_specialities.each do |degree, chairs| %>
      <fieldset>
        <legend><%= t("noun_#{degree}") %></legend>
        <% chairs.each do |chair, specialities| %>
        <fieldset>
          <legend><%= chair.abbr %></legend>
          <% specialities.each do |speciality| %>
            <div class="speciality_item">
              <p class="name"><%= speciality.short_title %></p>
              <ul class="curriculums">
                <% @chair.grouped_curriculums_for_specialities(speciality).each do |curriculum, educations_count| %>
                  <li>
                    <span class="curriculum"><%= link_to curriculum.study_with_since, manage_chair_provided_disciplines_path(@chair, curriculum) %></span>
                    <span class="educations"><%= educations_count %></span>
                    <% Publication.enum(:kind).each do |kind| %>
                      <% provided = @chair.send("provided_curriculum_by_#{kind}", curriculum) %>
                      <span class="<%= kind %> <%= provided[:class] %>"><%= provided[:provided] %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </fieldset>
        <% end %>
    </fieldset>
    <% end %>
  </div>
<% else %>
  <p>Нет информации об обеспечиваемых дисциплинах.</p>
<% end %>
