<% content_for :get_started do %>
  <%= render :partial => 'shared/has_been_started' %>
<% end %>

<p>Для регистрации в качестве сотрудника ТУСУРа выберите кафедру и укажите свою должность.<br/>
Ваша заявка будет отправлена администрации портала и утверждена после проверки.</p>
<%= semantic_form_for resource, :url => human_employees_path do |form| %>
  <%= form.error_messages %>
  <%= form.inputs do %>
    <%= form.input :chair, :group_by => :faculty, :input_html => { :class => "focus_first" } %>
    <%= form.input :post %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:class => 'button'} %>
    <li><%= link_to t(:cancel), profile_path, :class => "button light" %></li>
  <% end %>
<% end %>

