<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tag %>
  <title><%= show_title? ? yield(:title) : title_locale %> | <%= raw t("application") %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "compiled/screen.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "compiled/print.css", :media => "print" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <!--[if IE 6]>
  <%= stylesheet_link_tag "compiled/ie6.css", :media => "screen, projection" %>
  <![endif]-->
  <!--[if IE 7]>
  <%= stylesheet_link_tag "compiled/ie7.css", :media => "screen, projection" %>
  <![endif]-->
</head>
<body>

<div class="wrapper"><%= yield %></div>

</body>
</html>

