<!DOCTYPE html>
<html>
<head>
  <title><%= show_title? ? yield(:title) : title_locale %> | <%= raw t("application") %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>

