<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tag %>
  <title><%= show_title? ? yield(:title) : title_locale %> | <%= raw t("application") %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "jquery.min", "jquery.tipsy.min", "rails", "application" %>
  <!--[if IE 6]>
    <%= stylesheet_link_tag "ie6" %>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag "ie7" %>
  <![endif]-->
</head>
<body>
  <div class="header_wrapper">
    <div class="header">
      <div class="dashboard">
        <%= render :partial => 'users/shared/user_nav' %>
      </div>
      <%= link_to 'Томский государственный университет систем управления и радиоэлектроники',
                  'http://www.tusur.ru',
                  :class => 'tusur',
                  :title => 'Томский государственный университет систем управления и радиоэлектроники' %>

      <h1 class="site_name"><%= link_to "Научно-образовательный портал", root_path %></h1>
    </div>
  </div>
  <div class="content_wrapper">
    <%= yield :main_menu %>
    <div class="content">
      <h1><%= show_title? ? yield(:title) : title_locale %></h1>
      <%= show_notice %>
      <%= render :partial => 'users/shared/has_been_started' %>
      <%= yield %>
    </div>
  </div>
  <div class="footer_wrapper">
    <div class="footer">
      <ul class="site_map">
        <li>
          <h1>Образование</h1>
          <ul>
            <li><a href="#">учебные материалы</a></li>
            <li><a href="#">учебные планы</a></li>
            <li><a href="#">расписание</a></li>
            <li><a href="#">успеваемость</a></li>
          </ul>
        </li>
        <li>
          <h1>Наука</h1>
          <ul>
            <li><a href="#">реферативные журналы</a></li>
            <li><a href="#">публикации</a></li>
            <li><a href="#">переодические издания</a></li>
            <li><a href="#">конференции</a></li>
            <li><a href="#">конкурсы, гранты</a></li>
          </ul>
        </li>
        <li>
          <h1>Люди</h1>
          <ul>
            <li><a href="#">студенты</a></li>
            <li><a href="#">магистранты</a></li>
            <li><a href="#">аспиранты</a></li>
            <li><a href="#">преподаватели</a></li>
          </ul>
        </li>
        <li>
          <h1>Библиотека</h1>
          <ul>
            <li><a href="#">контактная информация</a></li>
            <li><a href="#">услуги библиотеки</a></li>
            <li><a href="#">новые книги</a></li>
            <li><a href="#">внешние базы данных</a></li>
          </ul>
        </li>
      </ul>
      <div class="copyright">
        <p class="openteam"><a href="http://openteam.ru/" title="Сделано с любовью OpenTeam" rel="tipsy">OpenTeam</a></p>
        <p class="tusur"><a href="http://www.tusur.ru/" title="Томский государственный университет систем управления и радиоэлектроники" rel="tipsy">Томский государственный университет систем управления и радиоэлектроники</a></p>
        <p class="copy">&copy; Томский Государственнный Университет Систем Управления и Радиоэлектроники, 2010</p>
        <p class="issue"><a href="http://issues.openteam.ru/projects/tusur-portal/issues/new">Высказать пожелание или сообщить об ошибке</a></p>
      </div>
    </div>
  </div>
</body>
</html>

