<% content_for :main_menu do %>
  <div class="main_menu">
    <div class="search_bar">
      <%= semantic_form_for :search, :url => root_path, :html => { :method => "get" } do | form | %>
        <%= form.inputs do %>
          <%= form.input :q, :label => false, :input_html => { :value => params[:q], :name => :q } %>
        <% end %>
        <%= form.buttons do %>
          <%= form.commit_button :button_html => { :value => "Поиск" } %>
        <% end %>
      <% end %>
    </div>
    <%= render_navigation :level => 1, :context => "manage" %>
  </div>
<% end %>
<% content_for :baeadcrumbs do %>
  <div class="baeadcrumbs">
    <%= render_navigation :context => "manage_breadcrumbs", :renderer => :breadcrumbs, :join_with => " &raquo; " %>
  </div>
<% end %>
<%= render :file => 'layouts/application' %>
